@using Merkado.ViewModels
@model ObservedPageVM

@{
    ViewData["Title"] = "Obserwowane Produkty";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/newProduct.css" asp-append-version="true" />
}

<div class="container bg-light rounded-3 p-4">

    

    @if(Model.ObservedProduct.Count() == 0)
                {
                    <div class="container col-6 offset-4">
                    <h5 class="fw-bolder">Brak Obserwowanych przedmiotów</h5>
                    </div>
                   
                }
                else
                {
                    @foreach(var item2 in Model.ObservedProduct)       
                         {
                    @foreach (var item in Model.OProducts)
                    {
                        @if (item2.ProductId == item.ProductId)
                        {
                            <div class="container px-4 px-lg-5 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div class="main page items" style="background-color: #fff;">
                                <div class="col mb-5">
                                    <a class="btn mt-auto" href="/ProductPage?item=@item.ProductId">
                                        <div class="card h-100" style="border:hidden;">
                                            <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                            <!-- Product image-->
                                    <img width="580" height="280"  class="card-img-top" src="@Url.Content("/images/" + item.CoverURL)" />
                                            <!-- Product details-->
                                    <div class="card-body p-4">

                                                <div class="text-center fs-5">
                                                    <!-- Product price-->
                                            @item.Price zł
                                                    <br>
                                                    <div class="fs-6 fw-light">
                                                        <!-- Product date-->
                                            @item.AddedDate.ToString("dd.MM.yyyy")
                                                        <!-- Product localization-->
                                            @item.Localization
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                                    
                            </div>
                            </div>   
                            </div>
                        }
                    }
                }
              }           

         <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    </div>








