@using Merkado.ViewModels
@model ObservedPageVM

@{
    ViewData["Title"] = "Obserwowane Produkty";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/newProduct.css" asp-append-version="true" />
}

<div class="container bg-light rounded-3 p-4">
    <h2>Obserwowane Przedmioty</h2>
    <div class="col-12 border-bottom">
        <form method="post">
            @if (Model.ObservedProduct.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <p>Zdjęcie</p>
                        </th>
                        <th>
                            <p>Nazwa</p>
                        </th>
                        <th>
                            <p>Data dodania</p>
                        </th>
                        <th>
                            <p>Kategoria</p>
                        </th>
                        <th>
                            <p>Lokalizacja</p>
                        </th>

                        <th>

                        </th>
                    </tr>
                     @foreach(var item in Model.ObservedProduct)
                            {
                            @foreach(var product in Model.OProducts)
                                {
                                    @if(item.ProductId == product.ProductId)
                                    {
                                    <tr>
                                        <td>
                                            <img height="25" src="~/images/@product.CoverURL" />
                                        </td>
                                        <td>
                                            <a href="/ProductPage?item=@product.ProductId"> @Html.DisplayFor(x => product.Name) </a>   
                                        </td>
                                        <td>
                                            @Html.DisplayFor(x => product.AddedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(x => product.Category.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(x => product.Localization)
                                        </td>
                                        <td>
                                            <button asp-area="" asp-controller="ObservedProduct" asp-action="DeleteObservedProduct" asp-route-productId="@product.ProductId" onclick="return confirm('Czy na pewno chcesz usunąć ogłszenie?')" class="btn btn-danger btn-sm">Usuń</button>

                                        </td>
                                    </tr>
                                    }                                
                                    }
                                }
                            
                          </table>
            }
                                                else
                                    {
                                        <p>Nie masz aktualnie żadnych ogłoszeń.</p>
                                    }
        </form>
    </div>
</div>




