@using Merkado.ViewModels
@model PaymentPageVM
@{
    ViewData["Title"] = @Model.CurrentProduct.ProductId;
        <link rel="stylesheet" href="~/css/paymentPage.css" asp-append-version="true" />
}


<div class="container bg-light d-md-flex align-items-center"> 
    <div class="card box1 shadow-sm p-md-5 p-md-5 p-4"> 
        <div class="fw-bolder mb-4">
            <span class="fas fa-dollar-sign"></span>
            <span class="ps-1">Cena:
            @Model.CurrentProduct.Price zł</span></div>
            <div class="d-flex flex-column"> 
                <div class="d-flex align-items-center justify-content-between text"> 
                    <span class="">Dostawa</span> 
                    <span class="fas fa-dollar-sign"><span class="ps-1">11.99 zł</span>
                </span>
                    </div> 
                    <div class="d-flex align-items-center justify-content-between text mb-4"> 
                        <span>Razem</span> 
                        <span class="fas fa-dollar-sign">
                            <span class="ps-1"> @ViewBag.Andrzej</span>
                            </span> 
                    </div> 
                    <div class="border-bottom mb-4"></div> 
                    <div class="d-flex flex-column mb-4"> 
                        <span class="far fa-file-alt text">
                            <span class="ps-2">Dane do wysyłki:</span>
                        </span> 
                        <span class="ps-3">@Model.Buyer.FirstName</span> 
                        <span class="ps-3">@Model.Buyer.LastName</span> 
                        <span class="ps-3">@Model.Buyer.PhoneNumber</span> 
                        <span class="ps-3">@Model.Buyer.PostalCode</span> 
                        <span class="ps-3">@Model.Buyer.Street, @Model.Buyer.City</span> 
                        </div> <div class="d-flex flex-column mb-5">
                            <span class="far fa-calendar-alt text">
                                <span class="ps-2">Metoda dostawy:</span>
                            </span> <span class="ps-3">
                                @foreach (var item in Model.CurrentProduct.Providers)
                            {
                                @item.Name
                                ;
                                <br />
                            }
                            <div >
                                <button ID="Button2" class="btn btn-primary w-100"  text="Kod promocyjny" OnClick="Button2_Click" OnClientClick="return SetText(this)" ></button>
                            </div>
                            <div class="ps-2">
                                <input asp-for="Buyer.PromoCode" class="form-control" aria-required="true"/>
                            </div>
                            
                            
                            
<br/></span> 
                          
                        </div> 
                        
                </div> 
          </div> 
          <div class="card box2 shadow-sm"> 
              <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> 
                  <span class="h5 fw-bold m-0">Metoda płatności</span> 
                  <div class="btn btn-primary bar">
                      <span class="fas fa-bars"></span>
                  </div> 
              </div> 
              <ul class="nav nav-tabs mb-3 px-md-4 px-2"> 
                  <li class="nav-item"> 
                      <a class="nav-link px-2 active" aria-current="page" href="#">Karta Kredytowa</a> 
                  </li> 
                  <li class="nav-item"> 
                      <a class="nav-link px-2" href="#">Przelew</a> 
                  </li> 
                  <li class="nav-item ms-auto"> 
                      <a class="nav-link px-2" href="#">Przy odbiorze</a> 
                  </li> 
               </ul> 
               <div class="px-md-5 px-4 mb-4 d-flex align-items-center"> 
                 
                 <div class="btn-group" role="group" aria-label="Basic radio toggle button group"> 
                     <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked> 
                     
                 </div> 
               </div> 
               <form action=""> 
                   <div class="row"> 
                       <div class="col-12"> 
                           <div class="d-flex flex-column px-md-5 px-4 mb-4"> 
                               <span>Numer karty</span> <div class="inputWithIcon"> 
                                   <input class="form-control" type="text" value="6942 0213 7555 6669"> 
                                   <span class=""> 
                                       <img class="mastercardimg" src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt=""></span>
                                       </div> 
                           </div> 
                       </div> 
                       <div class="col-md-6"> 
                           <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> 
                               <span>Data<span class="ps-1">ważności</span></span> 
                               <div class="inputWithIcon"> 
                                   <input type="text" class="form-control" value="06/26"> 
                                   <span class="fas fa-calendar-alt"></span> 
                               </div> 
                           </div> 
                       </div> 
                       <div class="col-md-6"> 
                           <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4"> 
                               <span>Kod CVV</span> 
                               <div class="inputWithIcon"> 
                                   <input type="password" class="form-control" value="123"> <span class="fas fa-lock"></span>
                               </div> 
                           </div> 
                       </div> 
                       <div class="col-12"> 
                           <div class="d-flex flex-column px-md-5 px-4 mb-4"> 
                               <span>Imię i nazwisko</span> <div class="inputWithIcon"> 
                                   <input class="form-control text-uppercase" type="text" value="admin admiński"> 
                                   <span class="far fa-user"></span> 
                               </div> 
                           </div> 
                       </div> 
                       <div class="col-12 px-md-5 px-4 mt-3"> 
                           <div class="btn btn-primary w-100 ">@ViewBag.Andrzej zł</div> 
                           </div> 
                           </div> 
                </form> 

                           <form asp-action="SendMail"  method="post">
                          <button type="submit" class="btn col-6 btn-success" id="submit" value="Submit">Wyslij maila</button>
                           </form>
                           </div> 
                           </div>
                           <br/><br/><br/>


