@model Merkado.Models.Product
@{
    ViewData["Title"] = "Dodaj Produkt";
}
@using(Html.BeginForm("Add", "Image", FormMethod.Post, new {enctype="multipart/form-data"}))
{
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="addproductcard">
        <div class="imagedata col-md-5 col-12">
            @Html.LabelFor(model=>model.Name, htmlAttributes:new{@class="control-label col-md-2 "} )
            @Html.EditorFor(model=>model.Name,new{htmlattributes=new{@class="form-control"}})
            @Html.LabelFor(model=>model.Price, htmlAttributes:new{@class="control-label col-md-2 "} )
            @Html.EditorFor(model=>model.Price,new{htmlattributes=new{@class="form-control"}})
            @Html.LabelFor(model=>model.Category, htmlAttributes:new{@class="control-label col-md-2"} ) 
            @Html.DropDownListFor(model=>model.Category, new SelectList(ViewBag.list),"Wybierz kategorie",htmlAttributes:new{@class="form-control"})
        </div>
        <div class="imagepost col-md-3 col-12">
        @Html.LabelFor(model=>model.Images, htmlAttributes:new{@class="control-label col-md-2"} )
        <input type= "file" name="ImageFile" required/>       
        </div>
    <div class="imagepost col-md-3 col-12">
        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:200px;height:200px;">
    </div>
        @Html.TextAreaFor(model=>model.Description, new { @class = "col-md-8 col-12" })
        <div class="providersconteiner col-md-3 col-12" >
            <div class="provider">
                <label for="Providers">Osobiście: </label>
                @Html.RadioButtonFor(model => model.Providers,"Osobiście")
            </div>
            <div class="provider">       
                <label for="Providers">InPost</label>
                @Html.RadioButtonFor(model => model.Providers,"InPost")
            </div>
            <div class="provider"> 
                @Html.RadioButtonFor(model => model.Providers,"DHL")
                <label for="Providers">DHL</label>
                
            </div>           
        </div>        
    <div class="btnaddproduct text-center col-md-12 col-12">
        <button type="Submit" class="btn btn-success">Potwierdź</button>
    </div>        
    </div> 
}
