@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
                <div class="row row-cols-3 justify-content-evenly ">
                 
                    @foreach (var item in Model.GroupBy(x => x.Category.CategoryId).Select(y => y.First()) )
                        {
                           
                            <a class=" btn  btn-outline-secondary col-3 fs-5 fw-normal" href="/Search?category=@item.Category.Name"> @item.Category.Name </a>
                            
                        }
                    
                </div>
        </div>



            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (var item in Model.OrderByDescending(x => x.AddedDate).Take(8))
                    {

                        <div class="main page items" style="background-color: #fff;">
                        <div class="col mb-5">
                            <a class="btn mt-auto" href="/ProductPage?item=@item.Name">
                                <div class="card h-100" style="border:hidden;">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="@Url.Content("/images/" + item.CoverURL)" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        
                                        <div class="text-center fs-5">
                                            <!-- Product price-->
                                            @item.Price zł
                                            <br>
                                            <div class="fs-6 fw-light">
                                            <!-- Product date-->
                                            @item.AddedDate.ToString("dd.MM.yyyy")
                                            <!-- Product localization-->
                                            @item.Localization
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        </div>
                    }
                     <button onclick="topFunction()" id="GoTop" title="Przejdź na górę"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></button> 
                </div>
            </div>         
    </section>
</div>
