@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
</head>

<div class="row loginform">
    <div class="col-md-6 offset-md-3">
        <form id="account" method="post">      
                <h3 class="step-title">Zaloguj się</h3>  
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                    <input asp-for="Input.Email" class="form-control form-control-lg w-75" autocomplete="username" aria-required="true" placeholder="Wprowadź adres e-mail" />

                    <span asp-validation-for="Input.Email" class="align-self-center text text-danger small"></span>
                </div>
                <div class=form-group>
                    <label asp-for="Input.Password" class="form-label">Hasło</label>
                    <input asp-for="Input.Password" class="form-control form-control-lg w-75" autocomplete="current-password" aria-required="true" placeholder="Wprowadź hasło" />

                    <span asp-validation-for="Input.Password" class="align-self-center text text-danger small"></span>
                </div>
                <div class=form-group>
                    <button id="login-submit" type="submit" class="btn btn-success">Zaloguj</button>
                </div>
                </form>
                <div class="or-container">
                    <div class="line-separator"></div>
                    <div class="or-label">lub</div>
                    <div class="line-separator"></div>
                </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                            @if(provider.DisplayName == "Google")
                                            {
                                                <button type="submit" class="btn btn-google btn-block text-uppercase btn-outline col-md-6 col-sm-6" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="https://img.icons8.com/color/16/000000/google-logo.png" width="30" height="30"> Zaloguj się przez Googla!</button> 
                                            }
                                            @if(provider.DisplayName == "Facebook")
                                            {
                                                <button type="submit" class="btn btn-google btn-block text-uppercase btn-outline col-md-6 col-sm-6" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="https://img.icons8.com/fluency/344/facebook-new.png" width="30" height="30"> Zaloguj się przez Facebooka!</button> 
                                            }
                                            }
                                        </p>
                                    </div>
                                </form>
                        </div>
                    </div>

                <br>
                <div class="text-inverse text-center">
                    <p>
                        <a>Nie masz konta?</a>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się!</a>
                    </p>
                    <p>
                        <a>Zapomniałeś hasła?</a>
                        <a id="forgot-password" asp-page="./ForgotPassword">Przypomnij je!</a>
                    </p>
                </div>
            </div>
        
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
