@page
@model RegisterModel
@using Microsoft.AspNetCore.Authentication.Google;

@{
    ViewData["Title"] = "Rejestracja";
}
@using AspNetCore.ReCaptcha
@Html.ReCaptcha()
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
    <script src="~/js/signup.js" defer></script>
</head>

<div class="row loginform">
    <div class="col-md-6 offset-md-3">
        <form data-multi-step class="multi-step-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> 
            <div class="card border-0" data-step>            
                <h3 class="step-title">Wybierz metodę rejestracji</h3>            
                <div class=form-group>
                    <label asp-for="Input.Email">E-mail</label>
                    <input asp-for="Input.Email" class="form-control form-control-lg w-75" placeholder="Wprowadź adres e-mail" autocomplete="username" aria-required="true" />

                    <span asp-validation-for="Input.Email" class="align-self-center text text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Hasło</label>
                    <input asp-for="Input.Password" class="form-control form-control-lg w-75" placeholder="Wprowadź hasło użytkownika" autocomplete="new-password" aria-required="true" />
                    
                    <span asp-validation-for="Input.Password" class="align-self-center text text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg w-75" placeholder="Potwierdź hasło użytkownika" autocomplete="new-password" aria-required="true" />
                    
                    <span asp-validation-for="Input.ConfirmPassword" class="align-self-center text text-danger small"></span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" data-next>Dalej</button>
                </div>
                <div class="or-container">
                    <div class="line-separator"></div>
                    <div class="or-label">lub</div>
                    <div class="line-separator"></div>
                </div>
                   <div class="row col-md-12 col-sm-12">
                        <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                            @if(provider.DisplayName == "Google")
                                            {     
                                                                                                
                                                <input type="button" id="btnGoogleLogin" class="btn btn-google btn-block text-uppercase btn-outline col-md-12 col-sm-6" name="provider" value="zaloguj sie przez @provider.Name" title="Log in using your @provider.DisplayName account">
                                            }
                                            @if(provider.DisplayName == "Facebook")
                                            {
                                                <input type="button" id="btnFacebookLogin"  class="btn btn-google btn-block text-uppercase btn-outline col-md-12 col-sm-6" name="provider" value="zaloguj sie przez @provider.Name" title="Log in using your @provider.DisplayName account"> 
                                            }
                                            }
                                        </p>

                        </div>
                    </div> 
                <br>
                <div class="text-inverse text-center">
                    <p>
                        <a>Masz już konto?</a>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Zaloguj się!</a>
                    </p>
                </div>
            </div>
        
            <div class="card border-0" data-step>
                <h3 class="step-title">Przedstaw się! </h3>
                <div class=form-group>
                    <label asp-for="Input.FirstName">Imię</label>
                    <input asp-for="Input.FirstName" class="form-control form-control-lg w-75" placeholder="Wprowadź imię" aria-required="true" />
                    
                    <span asp-validation-for="Input.FirstName" class="align-self-center text text-danger small"></span>
                </div>
                <div class=form-group>
                    <label asp-for="Input.LastName">Nazwisko</label>
                    <input asp-for="Input.LastName" class="form-control form-control-lg w-75" placeholder="Wprowadź nazwisko" aria-required="true" />
                    
                    <span asp-validation-for="Input.LastName" class="align-self-center text text-danger small"></span>
                </div>
                <div class=form-group>
                    <label asp-for="Input.Street">Ulica</label>
                    <input asp-for="Input.Street" class="form-control form-control-lg w-75" placeholder="Wprowadź ulicę" aria-required="true" />
                    
                    <span asp-validation-for="Input.Street" class="align-self-center text text-danger small"></span>
                </div>
                <div class=form-group>
                    <label asp-for="Input.City">Miasto</label>
                    <input asp-for="Input.City" class="form-control form-control-lg w-75" placeholder="Wprowadź miasto" aria-required="true" />
                    
                    <span asp-validation-for="Input.City" class="align-self-center text text-danger small"></span>
                </div>
                <div class=form-group>
                    <label asp-for="Input.PostalCode">Kod pocztowy</label>
                    <input asp-for="Input.PostalCode" class="form-control form-control-lg w-75" placeholder="Wpisz kod pocztowy" aria-required="true" />
                    
                    <span asp-validation-for="Input.PostalCode" class="align-self-center text text-danger small"></span>
                </div>
                <div class="or-container">
                    <div class="line-separator"></div>
                 </div>
                 <button type="button" class="btn btn-secondary" data-previous>Wróć</button>
                 <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Utwórz konto</button>
             </div>       
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
            $('#btnGoogleLogin').click(function () {
                window.location.href = "https://accounts.google.com/o/oauth2/v2/auth/identifier?response_type=code&client_id=310531049996-olju02dl8jqkcq9cgaif2th14ufcfsb3.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Flocalhost%3A44343%2Fsignin-google&scope=openid%20profile%20email&state=CfDJ8Ldq7xLYHsxOkv7FaUeiBMzu-Wn6AStRe32qxt5dr1URBru5TceZOok_wc6MImw6Nuac3yLpYyyQuIe6uJ1D78n0va4hKn2sYG8yai_fLeHDkeC9gmpvFyDagpi0WhNTCRXxcvSVZ56WB7lg1QFUDi1fhHiwgsib8G-VNZIk9X3cgSJS6EgS3LBfxQnou42HZBariC0wgELK59PMi2U4HZcH0p8bqkf7gIs9rWvYQuBBC7Guj1dHpxZ0BNJYEJaFfRvvt8ECg79DUz17NLFPej9yaHGQAULZIl2bxiMzzdVpRP3E1sgWwms_R94Dn5TzqA&flowName=GeneralOAuthFlow";
            });
            $('#btnFacebookLogin').click(function () {
                window.location.href = "https://www.facebook.com/login.php?skip_api_login=1&api_key=1385642911860409&kid_directed_site=0&app_id=1385642911860409&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv11.0%2Fdialog%2Foauth%3Fclient_id%3D1385642911860409%26scope%3Demail%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A44343%252Fsignin-facebook%26state%3DCfDJ8Ldq7xLYHsxOkv7FaUeiBMwbx894Uvo6Gv5RPpDLdMzLKtJwCdTdtX11Tx6lAHERTyshlwus1f2LRsgb2KrzRua3kSCvFMHPPKGcw4h8NPr0Sy460SC_6JcNs5TCJIppJhzEXtaIKZvbPC_s94HXR6vrcSD0TorUcfJA-lwkYNRIwxOwQcq3GET0HCkOePNnRgJpWmtH-aJ6c-mETDnZEFnW-IwWmePcoNnKtS-KlD9lyC4O7jxeO4mH0x66E0n1nBOc6DSwJYgyOQyH2M315jlSj4CoLJ3gVoJEpW9lR00wr20eO-_3SybetUsb0BRizg%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D73bdcc82-0595-47ad-b44a-ed0de6c4b0f9%26tp%3Dunspecified&cancel_url=https%3A%2F%2Flocalhost%3A44343%2Fsignin-facebook%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3DCfDJ8Ldq7xLYHsxOkv7FaUeiBMwbx894Uvo6Gv5RPpDLdMzLKtJwCdTdtX11Tx6lAHERTyshlwus1f2LRsgb2KrzRua3kSCvFMHPPKGcw4h8NPr0Sy460SC_6JcNs5TCJIppJhzEXtaIKZvbPC_s94HXR6vrcSD0TorUcfJA-lwkYNRIwxOwQcq3GET0HCkOePNnRgJpWmtH-aJ6c-mETDnZEFnW-IwWmePcoNnKtS-KlD9lyC4O7jxeO4mH0x66E0n1nBOc6DSwJYgyOQyH2M315jlSj4CoLJ3gVoJEpW9lR00wr20eO-_3SybetUsb0BRizg%23_%3D_&display=page&locale=pl_PL&pl_dbl=0";
            });
    </script>
}
