@using Merkado.ViewModels
@model List<Product>
@{
    ViewData["Title"] = "Search Result";
}




        <div class="container mt-5">

            
            Obecnie szukany przedmiot : @ViewBag.CurrentFilter
            <br/>
            Obecnie szukana lokacja : @ViewBag.CurrentLocation
            <br/>
            Obecnie wybrane kategorie : @ViewBag.CurrentCategory
            <br/>
            Obecna forma sortowania :  @ViewBag.CurrentSortName
            <form asp-controller="Search" asp-action="Index">


                <select name="sortOrder" onchange="this.form.submit()">
                    <option selected disabled value="@ViewBag.CurrentSort">@ViewBag.CurrentSortName</option>
                     
                    <option value="name">Alfabetycznie A-Z</option>
                    <option value="name_desc">Alfabetycznie Z-A</option>
                    <option value="date">Od Najnowszego</option>
                    <option value="date_desc">Od Najstarszego</option> 
                </select>

    
 
            </form>

        </div>



 <div class="container bg-light rounded-3 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <a class="btn mt-auto" href="/ProductPage?item=@item.ProductId">
                        <div class="col mb-4">
                            <div class="card border-0 h-100">
                                <div class="d-flex align-items-center justify-content-center" style="height:4rem">
                                    <h5 class="fw-bolder">@item.Name</h5>
                                </div>
                                <div style="height:20rem">
                                    <img class="image" src="@Url.Content("/images/" + item.CoverURL)" />
                                </div>
                                <!-- Product details-->
                                        <div class="text-center fs-5">
                                            <!-- Product price-->
                                            @item.Price zł
                                            <br>
                                            <div class="fs-6 fw-light">
                                            <!-- Product date-->
                                            @item.AddedDate.ToString("dd.MM.yyyy")
                                            <!-- Product localization-->
                                            @item.Localization
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </a>
                }
                    <button onclick="topFunction()" id="GoTop" title="Przejdź na górę"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
<path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></button> 
            </div>
        </div>         
    </section>
</div>