@using Merkado.ViewModels
@model ProductPageVM


@{
    ViewData["Title"] = @Model.CurrentProduct.Name;
    <link rel="stylesheet" href="~/css/productPage.css" asp-append-version="true" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/productPage.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

}

<div class="justify-content-center">


    <div class="main page items" style="background-color: #fff;">
        <div class="row">
            <div class="col-sm-6" style="background-color:#dee2e6">
                <div class="card h-100" style="border:hidden;">
                    <!-- Product name-->
                    <br />
                    <h5 class="fw-bolder text-center fs-3">
                        <br />
                        @Model.CurrentProduct.Name
                    </h5>
                    <!-- Product image-->

                    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" style="max-width:80%; margin:auto " src="@Url.Content("/images/" + @Model.CurrentProduct.Images.FirstOrDefault().ImageURL)" />
                            </div>

                            @foreach (var image in @Model.CurrentProduct.Images)
                            {

                                <div class="carousel-item">
                                    <img class="d-block w-100" style="max-width:80%; margin:auto " src="@Url.Content("/images/" + image.ImageURL)" />
                                </div>
                            }



                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" style="color:#dee2e6;" aria-hidden="true"></span>
                            <span></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" style="color:#dee2e6;" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                    </div>
                    <!-- Product details-->
                    <div class="card-body">
                        <div class="text-center fs-3 fw-normal">
                            <!-- Product price-->
                            Cena:
                            @Model.CurrentProduct.Price zł
                            <br />
                            <br>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6" style="background-color:#e6eaed">
                <br />
                <div class="card" style="background-color:#e6eaed; border:hidden;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                Wystawił: <a href="/UserInfo?user=@Model.Seller.Id"> @Model.Seller.FirstName </a>
                            </div>
                            <div class="col-sm-6" style="text-align:right;">
                                Data dodania:
                                @Model.CurrentProduct.AddedDate.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                Kategoria:
                                @Model.CurrentProduct.Category.Name
                            </div>
                            <div class="col-sm-6" style="text-align:right;">
                                Miejscowość:
                                @Model.CurrentProduct.Localization
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br />
                            Możliwości dostawy:
                            <br />
                            @foreach (var item in Model.CurrentProduct.Providers)
                            {
                                @item.Name
                                ;
                                <br />
                            }
                        </div>



                        <br />
                        <br />
                        <p class="fw-bold fs-5">Opis</p>
                        @Model.CurrentProduct.Description
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                <div class="container">


                    <div class="row">
                        @if (!ViewBag.hideHeart)
                        {
                            <div class="col-lg-3" style="text-align:center">
                            @if (ViewBag.IfalreadyObserved)
                            {
                                <div class="heart liked" onclick="removefavourite(@Model.CurrentProduct.ProductId)"></div>
                            }
                            else
                            {
                                <div class="heart" onclick="addtofavourite(@Model.CurrentProduct.ProductId)"></div>
                            }
                        </div>
                        }                        


                        <div class="col-lg-6">
                            <p class="text-center">
                                <button type="button" class="btn btn-secondary fs-4 fw-bold text-center" style="width: 100%;"><a class="btn mt-auto" href="/PaymentPage?item=@Model.CurrentProduct.ProductId">Kup teraz</a></button>

                                        

                            </p>
                        </div>
                        <div class="col-lg-3" style="text-align:center; color:#6c757d">

                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container px-4 px-lg-5 mt-5">
    <h2 style="text-align:center">Podobne produkty od tego sprzedającego</h2>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        @foreach (var item in Model.Seller.UserProducts.Take(4))
        {

            <div class="main page items" style="background-color: #fff;">
                <div class="col mb-5">
                    <a class="btn mt-auto" href="/ProductPage?item=@item.ProductId">
                        <div class="card h-100" style="border:hidden;">
                            <!-- Product name-->
                        <h5 class="fw-bolder">@item.Name</h5>
                            <!-- Product image-->
                        <img class="card-img-top" src="@Url.Content("/images/" + item.CoverURL)" />
                            <!-- Product details-->
                        <div class="card-body p-4">

                                <div class="text-center fs-5">
                                    <!-- Product price-->
                                @item.Price zł
                                    <br>
                                    <div class="fs-6 fw-light">
                                        <!-- Product date-->
                                    @item.AddedDate.ToString("dd.MM.yyyy")
                                        <!-- Product localization-->
                                    @item.Localization
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
