@using Merkado.ViewModels
@model ProductPageVM

@{
        ViewData["Title"] = @Model.CurrentProduct.Name;
}
<br />
<br />
<br />
<br />
<div class="justify-content-center">
                    

                        <div class="main page items" style="background-color: #fff;">
                                <div class="row">
                                    <div class="col-sm-6" style="background-color:#dee2e6">
                                        <div class="card h-100" style="border:hidden;">
                                    <!-- Product name-->
                                    <br/>
                                    <h5 class="fw-bolder text-center fs-3">
                                        <br/>
                                     @Model.CurrentProduct.Name
                                     </h5>
                                    <!-- Product image-->
                                    @foreach(var image in @Model.CurrentProduct.Images)
                                    {
                                        <img class="card-img-top" style="max-width:80%; margin:auto " src="@Url.Content("/images/" + image.ImageURL)" />
                                    }
                                    <!-- Product details-->
                                    <div class="card-body">
                                        <div class="text-center fs-3 fw-normal">
                                            <!-- Product price-->
                                            Cena:
                                            @Model.CurrentProduct.Price zł
                                            <br/>
                                            <br>
                                            
                                        </div>
                                    </div>

                                </div>
                                    </div>
                                    <div class="col-sm-6" style="background-color:#e6eaed">
                                        <br/>
                                        <div class="card" style="background-color:#e6eaed; border:hidden;">
                                            <div class="card-body">
                                                 <div class="row">
                                                    <div class="col-sm-6">
                                                    Wystawił: @Model.Seller.FirstName
                                                    
                                                    </div>
                                                    <div class="col-sm-6" style="text-align:right;">
                                                    Data dodania:
                                                    @Model.CurrentProduct.AddedDate.ToString("dd.MM.yyyy")
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    Kategoria:
                                                    @Model.CurrentProduct.Category.Name
                                                    </div>
                                                    <div class="col-sm-6" style="text-align:right;">
                                                    Miejscowość:
                                                    @Model.CurrentProduct.Localization
                                                    </div>
                                                </div>
                                            
                                            
                                               
                                                <br/>
                                                <br/>
                                             <p class="fw-bold fs-5">Opis</p>
                                             @Model.CurrentProduct.Description
                                            </div>
                                        </div>
                                        <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                        <p class = "text-center">
                                        <button type="button" class="btn btn-secondary fs-4 fw-bold text-center" style="width: 50%">Kup Teraz!</button>
                                        </p>
                                    </div>

                              </div>
                        </div>
                        
                        