@model List<Product>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Strona przedmiotu";
}
<br />
<br />
<br />
<br />
<div class="justify-content-center">
                    
@foreach (var product in Model.Take(1))
                    {
                        <div class="main page items" style="background-color: #fff;">
                                <div class="row">
                                    <div class="col-sm-6" style="background-color:#dee2e6">
                                        <div class="card h-100" style="border:hidden;">
                                    <!-- Product name-->
                                    <br/>
                                    <h5 class="fw-bolder text-center fs-3">
                                        <br/>
                                     @product.Name
                                     </h5>
                                    <!-- Product image-->
                                    <img class="card-img-top" style="max-width:80%; margin:auto " src="@Url.Content("/images/" + product.CoverURL)" />
                                    <!-- Product details-->
                                    <div class="card-body">
                                        <div class="text-center fs-3 fw-normal">
                                            <!-- Product price-->
                                            Cena:
                                            @product.Price zł
                                            <br/>
                                            <br>
                                            
                                        </div>
                                    </div>

                                </div>
                                    </div>
                                    <div class="col-sm-6" style="background-color:#e6eaed">
                                        <br/>
                                        <div class="card" style="background-color:#e6eaed; border:hidden;">
                                            <div class="card-body">
                                                 <div class="row">
                                                    <div class="col-sm-6">
                                                    Wystawił: Administrator
                                                    
                                                    </div>
                                                    <div class="col-sm-6" style="text-align:right;">
                                                    Data dodania:
                                                    @product.AddedDate.ToString("dd.MM.yyyy")
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    Kategoria:
                                                    @product.Category.Name
                                                    </div>
                                                    <div class="col-sm-6" style="text-align:right;">
                                                    Miejscowość:
                                                    @product.Localization
                                                    </div>
                                                </div>
                                            
                                            
                                               
                                                <br/>
                                                <br/>
                                             <p class="fw-bold fs-5">Opis</p>
                                             @product.Description
                                            </div>
                                        </div>
                                        <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                                <br/>
                                        <p class = "text-center">
                                        <button type="button" class="btn btn-secondary fs-4 fw-bold text-center" style="width: 50%">Kup Teraz!</button>
                                        </p>
                                    </div>

                              </div>
                        </div>
                        }
                        